@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
  font-family: 'Spartan', sans-serif;
}

:root{
  --background          : #3a4764;
  --background-dark     : #232c43;
  --background-very-dark: #182034;

  --key-color-top       : #ffffff;
  --key-color-bottom    : #3a4764;
  --key-background      : #eae3dc;
  --key-background-dark : #dfd9d2;
  --key-shadow          : #b4a597;

  --key-blue-background : #637097;
  --key-blue-shadow     : #404e72;

  --key-red-background  : #d03f2f;
  --key-red-shadow      : #93261a;

  --transition: background-color 0.3s ease, color 0.3s ease;
}

.calc{
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  transition: var(--transition);
}
.calc-content{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calc-top h3{
  color: var(--key-color-top);
  transition: var(--transition);
}

.calc-top h4{
  color: var(--key-color-top);
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
  transition: var(--transition);
}
.calc-top span{
  color: var(--key-color-top);
  font-size: 13px;
  transition: var(--transition);
}
.calc-top-result input{
  background-color: var(--background-very-dark); 
  color: var(--key-color-top);
  border: none;
  margin-bottom: 20px;
  text-align: right;
  padding: 17px;
  font-size: 32px;
  border-radius: 10px;
  transition: var(--transition);
}

input[type=range] {
  -webkit-appearance: none; 
  appearance: none; 
  width: 100%; 
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }
input[type=range]:focus { outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: var(--key-red-background);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--key-red-shadow);
  transition: var(--transition);
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: var(--key-red-background);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--key-red-shadow);
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: var(--key-red-background);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--key-red-shadow);
}

.toggle{
  background-color: var(--background-dark);
  border-radius: 25px;
  height: 25px;
  padding: 0 6px !important;
  transition: var(--transition);
}
.toggle input{ width: 100%; }

.custom-tooltip {
  background-color: var(--background);
  color: var(--guide-text);
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

.custom-highlight {
  border: 2px solid var(--key-red-background);
}

.introjs-button {
  background-color: var(--key-background);
  color: var(--guide-button);
  border: 1px solid var(--key-background);
  border-radius: 5px;
  box-shadow: 1px 1.5px 1px var(--key-shadow);
  transition: var(--transition);
  text-shadow: none;
}

.introjs-button:focus {
  box-shadow: 1px 1.5px 1px var(--key-shadow);
  border: 1px solid var(--guide-button);
  background-color: var(--key-background);
  color: var(--guide-button);
}

.introjs-button:hover {
  background-color: var(--key-background);
  color: var(--guide-button);
  border: 1px solid var(--key-background);
}

.introjs-disabled, .introjs-disabled:hover {
  border-color: transparent;
  box-shadow: none;
  color: var(--guide-button-disabled);
}

.introjs-dontShowAgain label {
  background-color: transparent;
  color: var(--guide-text)
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 50px; 
  width: 60px;
  height: 60px;
  background-color: var(--key-blue-background);
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.floating-btn:hover {
  background-color: var(--key-blue-shadow);
}

.floating-btn:active {
  transform: scale(0.5); 
}

.floating-btn i {
  font-size: 24px;
}

.tooltip {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: #555;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  transition: transform 0.8s, opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.floating-btn:hover .tooltip {
  transform: translate(-50%, -30px);
  opacity: 1;
  visibility: visible;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--key-blue-shadow);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.floating-btn.listening {
  animation: pulse 1.5s infinite;
}

.calc-keys{
  background-color: var(--background-dark);
  border-radius: 10px;
  transition: var(--transition);
  padding: 20px 15px;
}
#buttons-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}
#buttons-container .row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

#reset .button-1-front, #del .button-1-front{
  background-color: var(--key-blue-background);
  color: #FFF;
}
#reset .button-1-edge, #del .button-1-edge {
  background-color: var(--key-blue-shadow);
}
#equals .button-1-front{
  background-color: var(--key-red-background);
  color: var(--key-background);
}
#equals .button-1-edge {
  background-color: var(--key-red-shadow);
}

.button-1 {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
}

.button-1-shadow,
.button-1-edge,
.button-1-front {
  height: 100%;
  width: 100%;
}

.button-1-shadow {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-1-edge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: var(--key-shadow);
}

.button-1-front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  font-size: 1.1rem;
  color: var(--key-color-bottom);
  background-color: var(--key-background);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-1:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-1:hover .button-1-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-1:hover .button-1-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-1:active .button-1-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-1:focus:not(:focus-visible) {
  outline: none;
}

.github-stars {
  position: fixed;
  bottom: 20px;
  left: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 14px;
}

.github-stars a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.github-stars i {
  margin-right: 5px;
  margin-top: -1.5px;
}

.github-stars span {
  margin-top: 1.5px;
}

#stars-count {
  width: 25px;
}
